@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Manrope', sans-serif;
  background-color: #17171c;
  color: #fcfcfc;
}

.input-group{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.input-field {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  border: 1px solid #fcfcfc;
  border-radius: 10px;
  outline: none;
  background-color: #212129;
}

.input-field:focus {
  border: 3px solid #ff6f91;
  transition: all 0.1s ease-out;
}

.submit {
  width: 5rem;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background-color: #ff6f91;
  color: #fcfcfc;
  font-weight: bold;
  cursor: pointer;
}

.result {
  width: 30rem;
  padding: 1rem;
  max-height: 15rem;
  border-radius: 10px;
  background-color: #212129;
  overflow-y: scroll;
  line-clamp: 3;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #212129;
	background-color: #212129;
}

::-webkit-scrollbar
{
	width: 4px;
	background-color: #212129;
}

::-webkit-scrollbar-thumb
{
	background-color: #ff6f91;
  border-radius: 10px;
}